* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   scroll-behavior: smooth;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
   max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

.main-page {
   background-color: #990f02;
   min-height: 100vh;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 20px
}

.main-page__wrapper {

   padding: 50px 0;
   display: flex;
   flex-direction: column;
   align-items: center;

}




.main-page__title {
   font-size: 60px;
   color: #fff;
}

.main-page__subtitle {
   font-size: 40px;
   color: #fff;

}

.main-page__buttons {}

.main-page__btn {
   margin: 50px 0;
   text-align: center;
}

.main-page__link {
   font-size: 30px;
   color: #fff;
   border: 1px solid;
   border-color: #000;

   padding: 10px 60px;
   border-radius: 5%;
   background-color: #000435;

}

.header {
   background-color: #990f02;
   padding: 20px 0;
   width: 100%;
}

.header.fixed {
   position: fixed;
   width: 100%;
   background-color: #000435;
}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.header__logo {
   color: #fff;
   font-size: 20px;
}

.nav {
   display: flex;
   gap: 0 30px;

}

.nav__link {
   color: #fff;
}

.menu-mobile,
.menu-btn {
   display: none;
}

.intro {
   height: 100vh;

   background-color: #000435;

}

.intro__title {
   font-size: 55px;
   text-transform: uppercase;
   text-align: center;
   color: #fff;
   line-height: 1.4;
   padding-top: 200px;
}

.rules {
   padding: 80px 0;
}

.rules__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.rules__title {
   font-size: 30px;
   padding-bottom: 20px;
}

.tshirts {
   padding-top: 50px;
}

.tshirts__description {
   font-size: 25px;
}

.tshirts__title {
   font-size: 35px;
   margin-bottom: 20px;
}

.tshirts__main-title {
   font-size: 30px;
   text-align: center;
   padding-bottom: 40px;

}

.tshirts__item {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 60px;
}

.tshirts__text {
   flex-basis: 700px;
}


.tshirts__image {
   max-width: 150px;
   padding-right: 40px;

}

.find-us {
   padding-top: 50px;
}

.find-us__wrapper {
   display: flex;
   justify-content: center;
   gap: 80px;
}

.find-us__title {
   font-size: 30px;
   padding-bottom: 50px;
}

.find-us__adres {
   font-size: 20px;
}

.find-us__map-title {
   font-size: 24px;
   font-weight: 500;
   padding-bottom: 30px;
}

.first__steps-title {
   font-size: 35px;
}
.first__steps {
   margin-top: 30px;
   padding: 80px 0;
}
.instruction__item {
   padding-bottom: 40px;
}

@media(max-width: 600px) {
   .header {

      padding: 10px 0;

   }

   .intro__title {
      font-size: 50px;
   }

   .nav__link {
      display: none;
   }

   .menu-btn {
      display: flex;
      width: 40px;
      height: 30px;
      background-color: transparent;
      flex-direction: column;
      justify-content: space-between;
   }
   .first__steps-title {
      font-size: 35px;
      margin-bottom: 25px;
   }
   


   .menu-btn span {
      z-index: 10;
      height: 1.5px;
      width: 100%;
      background-color: #fff;
   }

   .menu-btn::before,
   .menu-btn::after {
      top: 0;
      bottom: 0;
      content: "";
      transition: 0.2s linear;
      height: 2px;
      background-color: #fff;
   }

   .active::before {
      transform: translate(10px, -2px) rotate(45deg);
      transform-origin: left top;
      top: -9px;
      z-index: 120;
   }

   .active::after {
      transform: translate(0px, -30px) rotate(-45deg);
      transform-origin: right bottom;
      z-index: 130;
      bottom: -9px;
   }

   .active span {
      transform: scale(0);
   }

   .menu-mobile {
      display: block;
      position: fixed;
      top: -100vh;
      transition: 0.2s linear;
   }

   .menu-mobile.menu--open {

      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #990f02;
      height: 100vh;
      z-index: 5;
      text-align: center;
      padding-top: 140px;
   }
}

.menu-link {
   color: #fff;
   display: block;
   font-size: 3vh;
   padding: 20px 0;
}

.main-page__title {
   font-size: 40px;
   padding-bottom: 30px;
   text-align: center;
}

.main-page__subtitle {
   font-size: 20px;
}

.main-page__link {
   font-size: 20px;
}

.tshirts__title {
   font-size: 20px;
}

.tshirts__description {
   font-size: 10px;
}

.find-us__wrapper {
   display: flex;
   gap: 20px;
   flex-direction: column;
}

.find-us__title {
   font-size: 20px;
   padding-bottom: 20px;
}

.find-us__adres {
   font-size: 15px;
}

.find-us__map-title {
   font-size: 20px;
}

